# Server Configuration
PORT=8080
ENV=development

# Database Configuration (PostgreSQL)
DB_HOST=localhost
DB_PORT=5438
DB_USER=postgres
DB_PASSWORD=postgrespassword
DB_NAME=swiftsearch_search
DB_SCHEMA=product
DB_SSLMODE=disable

# Message Broker Configuration (Kafka)
KAFKA_BROKERS=localhost:29092
